.picture-text-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.picture-text-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  max-width: 450px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.picture-text-text3 {
  left: 50px;
  color: var(--dl-color-gray-white);
  right: 50px;
  bottom: 16px;
  margin: auto;
  position: absolute;
  font-size: 0.8rem;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
