.logo-container {
  width: 250px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.logo-image {
  width: 31px;
  height: 34px;
}
.logo-text {
  color: #0392fd;
  font-size: 32px;
  font-family: "Inter";
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  text-decoration: none;
}
.navigation-links-navlink:hover {
  color: var(--dl-color-success-700);
  font-size: 25px;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
}
.navigation-links-navlink1 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  color: var(--dl-color-success-700);
  font-size: 25px;
}
.navigation-links-navlink2 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2:hover {
  color: var(--dl-color-success-700);
  font-size: 25px;
}
.navigation-links-navlink3 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3:hover {
  color: var(--dl-color-success-700);
  font-size: 25px;
}
.navigation-links-navlink4 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink4:hover {
  color: var(--dl-color-success-700);
  font-size: 25px;
}

























@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.features-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #f1d2a7;
}
.features-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.features-nav {
  display: flex;
}
.features-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.features-burger-menu {
  display: none;
}
.features-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.features-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.features-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.features-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.features-image {
  height: 2rem;
}
.features-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.features-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.features-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.features-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.features-blog {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.features-container02 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.features-blog-post-card {
  width: 1200px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.features-blog-post-card:hover {
  transform: scale(1.02);
}
.features-lottie-node {
  width: 370px;
  height: 300px;
}
.features-container03 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: #D9D9D9;
}
.features-icon10 {
  width: 24px;
  height: 24px;
}
.features-text {
  margin-bottom: var(--dl-space-space-twounits);
}
.features-text01 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  align-self: flex-start;
}
.features-container04 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.features-blog-post-card1 {
  width: 1200px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.features-blog-post-card1:hover {
  transform: scale(1.02);
}
.features-lottie-node1 {
  width: 591px;
  height: 300px;
}
.features-container05 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.features-icon13 {
  width: 24px;
  height: 24px;
}
.features-text02 {
  margin-bottom: var(--dl-space-space-twounits);
}
.features-text03 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  align-self: flex-start;
}
.features-blog-post-card2 {
  width: 1200px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
  background-color: #D9D9D9;
}
.features-blog-post-card2:hover {
  transform: scale(1.02);
}
.features-lottie-node2 {
  width: 649px;
  height: 300px;
}
.features-container06 {
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.features-icon16 {
  width: 24px;
  height: 24px;
}
.features-text04 {
  margin-bottom: var(--dl-space-space-twounits);
}
.features-text05 {
  color: var(--dl-color-gray-500);
  font-size: 1.25rem;
  align-self: flex-start;
}
.features-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.features-container07 {
  width: 435px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.features-navlink {
  display: contents;
}
.features-container08 {
  width: 62px;
  height: 72px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.features-image1 {
  width: 55px;
  height: 60px;
  object-fit: cover;
}
.features-text06 {
  font-size: 40px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
.features-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features-container09 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.features-text07 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.features-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.features-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.features-text08 {
  margin-bottom: var(--dl-space-space-unit);
}
.features-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.features-text10 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.features-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.features-text11 {
  margin-bottom: var(--dl-space-space-unit);
}
.features-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.features-container12 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features-container13 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.features-text14 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.features-text15 {
  margin-bottom: var(--dl-space-space-unit);
}
.features-text16 {
  margin-bottom: var(--dl-space-space-unit);
}
.features-text17 {
  margin-bottom: var(--dl-space-space-unit);
}
.features-container14 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.features-text19 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.features-text20 {
  margin-bottom: var(--dl-space-space-unit);
}
.features-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.features-text21 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .features-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
  .features-blog-post-card1 {
    flex-direction: row;
    justify-content: space-between;
  }
  .features-blog-post-card2 {
    flex-direction: row;
    justify-content: space-between;
  }
  .features-footer {
    flex-direction: column;
  }
  .features-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .features-container09 {
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .features-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .features-nav {
    display: none;
  }
  .features-btn-group {
    display: none;
  }
  .features-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .features-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .features-blog-post-card {
    flex-direction: column;
  }
  .features-blog-post-card1 {
    flex-direction: column;
  }
  .features-blog-post-card2 {
    flex-direction: column;
  }
  .features-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .features-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .features-container09 {
    width: 100%;
    justify-content: space-between;
  }
  .features-container11 {
    margin-right: 0px;
  }
  .features-container12 {
    margin-top: var(--dl-space-space-twounits);
  }
  .features-container13 {
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .features-header {
    padding: var(--dl-space-space-unit);
  }
  .features-mobile-menu {
    padding: 16px;
  }
  .features-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .features-footer {
    padding: var(--dl-space-space-unit);
  }
  .features-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .features-container09 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
  .features-container10 {
    margin-right: var(--dl-space-space-unit);
  }
  .features-container11 {
    align-self: stretch;
  }
}
