.logo-container {
  width: 250px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.logo-image {
  width: 31px;
  height: 34px;
}
.logo-text {
  color: #0392fd;
  font-size: 32px;
  font-family: "Inter";
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  text-decoration: none;
}
.navigation-links-navlink:hover {
  color: var(--dl-color-success-700);
  font-size: 25px;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
}
.navigation-links-navlink1 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  color: var(--dl-color-success-700);
  font-size: 25px;
}
.navigation-links-navlink2 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2:hover {
  color: var(--dl-color-success-700);
  font-size: 25px;
}
.navigation-links-navlink3 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3:hover {
  color: var(--dl-color-success-700);
  font-size: 25px;
}
.navigation-links-navlink4 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink4:hover {
  color: var(--dl-color-success-700);
  font-size: 25px;
}

























@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.pricing-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #f1d2a7;
}
.pricing-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.pricing-component {
  text-decoration: none;
}
.pricing-nav {
  display: flex;
}
.pricing-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.pricing-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.pricing-burger-menu {
  display: none;
}
.pricing-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.pricing-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.pricing-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pricing-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.pricing-image {
  height: 2rem;
}
.pricing-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.pricing-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.pricing-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.pricing-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.pricing-pricing {
  width: 100%;
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: url('https://img.freepik.com/free-vector/blue-futuristic-networking-technology_53876-100679.jpg?t=st=1708865844~exp=1708869444~hmac=31db624d47b0bc3da725221118dc96d4e37573e1fdbd577a993564ef7cddb488&w=1060');
  background-position: center;
}
.pricing-container02 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.pricing-pricing-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.pricing-pricing-card:hover {
  transform: scale(1.02);
}
.pricing-text {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.pricing-container03 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.pricing-text01 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.pricing-text04 {
  font-size: 4rem;
  font-weight: 700;
}
.pricing-button {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.pricing-pricing-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.pricing-pricing-card1:hover {
  transform: scale(1.02);
}
.pricing-text05 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.pricing-container04 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.pricing-text06 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.pricing-text09 {
  font-size: 4rem;
  font-weight: 700;
}
.pricing-text10 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.pricing-button1 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.pricing-pricing-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
}
.pricing-pricing-card2:hover {
  transform: scale(1.02);
}
.pricing-text12 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.pricing-container05 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
}
.pricing-text13 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.pricing-text16 {
  font-size: 4rem;
  font-weight: 700;
}
.pricing-text17 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.pricing-button2 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.pricing-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.pricing-container06 {
  width: 435px;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.pricing-navlink {
  display: contents;
}
.pricing-container07 {
  width: 62px;
  height: 72px;
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.pricing-image1 {
  width: 55px;
  height: 60px;
  object-fit: cover;
}
.pricing-text19 {
  font-size: 40px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
}
.pricing-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.pricing-container08 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.pricing-container09 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.pricing-text20 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.pricing-navlink1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.pricing-navlink2 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.pricing-text21 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-container10 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.pricing-text23 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.pricing-navlink3 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.pricing-text24 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text25 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-container11 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.pricing-container12 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
.pricing-text27 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.pricing-text28 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text29 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text30 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-container13 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.pricing-text32 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.pricing-text33 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-navlink4 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.pricing-text34 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .pricing-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 100%;
    align-items: center;
  }
  .pricing-pricing-card1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .pricing-pricing-card2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .pricing-footer {
    flex-direction: column;
  }
  .pricing-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .pricing-container08 {
    margin-right: 0px;
  }
}
@media(max-width: 767px) {
  .pricing-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .pricing-nav {
    display: none;
  }
  .pricing-btn-group {
    display: none;
  }
  .pricing-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pricing-container02 {
    flex-flow: column;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .pricing-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .pricing-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .pricing-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .pricing-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .pricing-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .pricing-container08 {
    width: 100%;
    justify-content: space-between;
  }
  .pricing-container10 {
    margin-right: 0px;
  }
  .pricing-container11 {
    margin-top: var(--dl-space-space-twounits);
  }
  .pricing-container12 {
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .pricing-header {
    padding: var(--dl-space-space-unit);
  }
  .pricing-mobile-menu {
    padding: 16px;
  }
  .pricing-container02 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .pricing-pricing-card2 {
    margin-bottom: 0px;
  }
  .pricing-footer {
    padding: var(--dl-space-space-unit);
  }
  .pricing-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .pricing-container08 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
  .pricing-container09 {
    margin-right: var(--dl-space-space-unit);
  }
  .pricing-container10 {
    align-self: stretch;
  }
}
