.logo-container {
  width: 250px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}
.logo-image {
  width: 31px;
  height: 34px;
}
.logo-text {
  color: #0392fd;
  font-size: 32px;
  font-family: "Inter";
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}

.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  text-decoration: none;
}
.navigation-links-navlink:hover {
  color: var(--dl-color-success-700);
  font-size: 25px;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
}
.navigation-links-navlink1 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink1:hover {
  color: var(--dl-color-success-700);
  font-size: 25px;
}
.navigation-links-navlink2 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink2:hover {
  color: var(--dl-color-success-700);
  font-size: 25px;
}
.navigation-links-navlink3 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink3:hover {
  color: var(--dl-color-success-700);
  font-size: 25px;
}
.navigation-links-navlink4 {
  font-style: normal;
  transition: 0.3s;
  font-weight: 600;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links-navlink4:hover {
  color: var(--dl-color-success-700);
  font-size: 25px;
}

























@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.register-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #f1d2a7;
}
.register-header {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.register-nav {
  display: flex;
}
.register-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.register-login {
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
}
.register-register {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.register-burger-menu {
  display: none;
}
.register-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.register-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.register-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.register-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.register-image {
  height: 2rem;
}
.register-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.register-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.register-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.register-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.register-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.register-container2 {
  width: 479px;
  height: 601px;
  display: flex;
  box-shadow: 0px 5px 10px 3px #000000;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  border-radius: 15px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-primary-500);
}
.register-lottie-node {
  width: 300px;
  height: 300px;
}
.register-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  justify-content: center;
}
.register-textinput1 {
  margin-top: var(--dl-space-space-twounits);
}
.register-textinput2 {
  margin-top: var(--dl-space-space-twounits);
}
.register-textinput3 {
  margin-top: var(--dl-space-space-twounits);
}
@media(max-width: 767px) {
  .register-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .register-nav {
    display: none;
  }
  .register-btn-group {
    display: none;
  }
  .register-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .register-header {
    padding: var(--dl-space-space-unit);
  }
  .register-mobile-menu {
    padding: 16px;
  }
}
